*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body { 
  background-image: linear-gradient(to bottom, #6293a1, #5e99a6, #5b9faa, #57a5ad, #54abaf, #52b0b0, #51b6b0, #52bbb0, #54c1af, #59c6ad, #5fccaa, #67d1a7);
  min-height: 100vh;
  overflow-y: auto;
}
.bg-mycolor {
  background-color:#677BA3 ;
  font-family: Script MT, Brush Script Std, cursive
}
Form{
  margin: 3% 20%;
  padding:5%;
  color:#FFF;
  background-color:#6293A1;
}
h1{
  font-size: large;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}
footer p{
  text-align: center;
  font-weight: bold;
  color: #FFF;
}

